<div class="card">
  <!-- En-tête de la carte -->
  <div class="card-header">Ajouter un vehicule</div>

  <div class="card-body">
    <form >
      <!-- Product Name Field -->
      <div class="form-group mb-3">
        <label for="marque">Marque :</label>
        <input type="text" class="form-control" id="marque" placeholder="Enter Marque" formControlName="name" required />
        </div>


      <div class="form-group">
        <label for="modele">Modele :</label>
        <input
          type="text"
          class="form-control"
          id="modele"
          placeholder="Enter Modele "
          formControlName="modele"
          required

        />
      </div>

      <!-- Champ pour le remise -->
      <div class="form-group">
        <label for="annee" >Annee :</label>
        <input
          type="number"
          class="form-control"
          id="annee"
          placeholder="Enter Annee"
          formControlName="annee"
          required
        />
      </div>

       <!-- Champ pour la date de début -->

        <!-- Champ pour l'image -->
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file"
               class="form-control"
               id="image"
               required />
      </div>

      <!-- Display the selected image -->
      <div  class="mt-3">
      </div>

      <!-- Champ pour le service -->
      <div class="form-group">
        <label for="prix">prix (jour) :</label>
        <input
          type="text"
          class="form-control"
          id="prix"
          placeholder="Entre Prix"
          formControlName="prix"
          required

        />
      </div>



      <!-- Champ pour le numéro de téléphone -->
      <div class="form-group">
        <label for="proprietaire">Proprietaire :</label>
        <input
          type="text"
          class="form-control"
          id="proprietaire"
          placeholder="Entre Proprietaire"
          formControlName="proprietaire"
          required

        />
      </div>


      <!-- Boutons pour Enregistrer et Annuler -->
      <div class="d-flex justify-content-between">
        <button 
        type="submit"
        class="btn btn-light"
        style="background-color: rgba(146, 195, 238, 0.597); border-radius: 0.5rem;">
          Enregistrer
        </button>
        <button
          type="button"
          class="btn btn-light"
          style="background-color: rgba(255, 0, 0, 0.597); border-radius: 0.5rem;"
          (click)="onCancel()"
        >
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>

