<div class="table" id="customers_table">
<section class="table__header">
  <div class="div-text-h1">
    <h1 class="text-h1">List de vehicule</h1>
  </div>
  <div class="input-group">
      <input type="search" placeholder="Search Data...">
      
  </div>
  <div class="btndiv" [routerLink]="['addcar']">
    <button class="btn btn-primary" >Ajouter Voiture</button>      
      
  </div>
</section>
<form class="table__body" [formGroup]="formGroup">
  <table>
    <thead>
      <tr>
        <th> Id </th>
        <th> Img</th>
        <th> Marque </th>
        <th> Modele </th>
        <th> Annee </th>
        <th> Disponible </th>
        <th> Prix (jour) </th>
        <th> Proprietaire </th>
        <th> Action </th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let C of Cars">
        <td> {{C.id}} </td>
        <td style="justify-items: center;"> <img style="border-radius:10px ;" [src]="C.image1" width="50" height="50" alt=""></td>
        <td> {{C.marque}}</td>
        <td> {{C.modele}} </td>
        <td> {{C.annee}} </td>
        <td>
          <p class="status delivered">{{C.disponible}}</p>
        </td>
        <td> <strong> {{C.prixParJour}} </strong></td>
        <td> <strong> {{C.proprietaireName}}</strong></td>
        <td  >
          <div class="space-left2">
            <a class="">
              <i class="bi bi-eye-fill"></i>
            </a>
            <a class="">
              <i class="bi bi-pencil-square"></i> <!-- Example Bootstrap icon -->
            </a>
            <a class="">
              <i class="bi bi-trash"></i>
            </a>
          </div>
          
          
        </td>
      </tr>
    </tbody>
  </table>
</form>
</div>